<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Schema: {{ db_name }}</title>
    <!-- Include MermaidJS -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
</head>
<body>
    <div class="center-container" id="container">
        <h1>Schema for Database: {{ db_name }}</h1>
        <!-- Display tables and columns -->
        {% for table, columns in schema_details.items() %}
            <h3>{{ table }}</h3>
            <ul>
                {% for col in columns %}
                    <li>{{ col[0] }} - {{ col[1] }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <div style="margin-top:20px;">
            <a href="{{ url_for('schema.er_diagram', db_name=db_name) }}">
                <button class="button-74" role="button">View ER Diagram</button>
            </a>
        </div>
        <div class="form-inline" style="margin-top:20px;">
            <a href="{{ url_for('view_databases.view_databases') }}" hx-get="{{ url_for('view_databases.view_databases') }}" hx-target="#container">
                <button class="button-74" role="button">Back</button>
            </a>
        </div>
    </div>
    <script>
        // Log the received Mermaid diagram to the browser console
        console.log("Mermaid diagram (view_schema):", "{{ mermaid_diagram | safe }}");
    </script>
</body>
</html>
